node_modules
.DS_Store
.env
src/generated/prisma/
dev.db*
public/*.css
dist-html
app/components/*
!app/components/.gitkeep
app/plugins/*
!app/plugins/.gitkeep
app/presentations/*
!app/presentations/.gitkeep
app/templates/*
!app/themes/.gitkeep
app/themes/*
!app/themes/.gitkeep
app/users/*
!app/users/.gitkeep
