<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="color-scheme" content="light dark" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css"
        />
        <title>SliDesk.link | A place for your slides</title>
        <link rel="icon" href="/public/slidesk.svg" type="image/svg+xml" />
        <link rel="icon" href="/public/slidesk.ico" type="image/x-icon" />
        <link
            rel="icon"
            href="/public/slidesk-32x32.png"
            type="image/png"
            sizes="32x32"
        />
        <link
            rel="apple-touch-icon"
            href="/public/slidesk-180x180.png"
            type="image/png"
            sizes="180x180"
        />
        <link rel="stylesheet" href="/main.css" />
    </head>
    <body>
        <header>
            <nav class="container">
                <ul>
                    <li>
                        <a href="/">
                            <h1>SliDesk<span>.link</span></h1>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>
        </header>
        <main class="container">
            <div id="home">
                <figure>
                    <img src="/public/slidesk.svg" />
                </figure>
                <div>
                    <hgroup>
                        <h2>SliDesk<span>.link</span></h2>
                        <p>A place for your slides</p>
                    </hgroup>
                    <pre><code class="language-bash">slidesk publish --token [YOUR-TOKEN]</code></pre>
                </div>
            </div>
            <section>
                <h2>Add information to share your talks</h2>
                <p>
                    Add a <code>link.yml</code> in the root of your
                    presentation, you can specify all sessions where your talk
                    is given
                </p>
                <pre><code class="language-yaml">url: https://www.host.tld/path/to/your/slides
title: Your title
abstract: |
    Your abstract
sessions:
  - date: 2025-03-12
    location: A nice meetup
    link: https://www.your-event.tld/path/to/your/program
    video: https://www.your-video-provider.tld/path/to/your/video
  - date: 2025-03-12
    location: Another nice meetup
    link: https://www.your-event.tld/path/to/your/program
    video: https://www.your-video-provider.tld/path/to/your/video</code></pre>
            </section>
        </main>
        <footer>
            <nav class="container">
                <ul>
                    <li>slidesk.link</li>
                </ul>
                <ul>
                    <li><a href="/mentions">Legal</a></li>
                </ul>
            </nav>
        </footer>
    </body>
</html>
