<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta name="color-scheme" content="light dark" />
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css"
        />
        <title>SliDesk.link | Thierry Chantier</title>
        <link rel="icon" href="/public/slidesk.svg" type="image/svg+xml" />
        <link rel="icon" href="/public/slidesk.ico" type="image/x-icon" />
        <link
            rel="icon"
            href="/public/slidesk-32x32.png"
            type="image/png"
            sizes="32x32"
        />
        <link
            rel="apple-touch-icon"
            href="/public/slidesk-180x180.png"
            type="image/png"
            sizes="180x180"
        />
        <link rel="stylesheet" href="/main.css" />
    </head>
    <body>
        <header>
            <nav class="container">
                <ul>
                    <li>
                        <a href="/">
                            <h1>SliDesk<span>.link</span></h1>
                        </a>
                    </li>
                </ul>
                <ul>
                    <li><a href="/login">Login</a></li>
                </ul>
            </nav>
        </header>
        <main class="container">
            <article id="speaker">
                <div>
                    <hgroup>
                        <h2>Thierry Chantier</h2>
                        <p>titimoby</p>
                    </hgroup>
                    <blockquote>
                        <p>
                            Geek, musician, coder and maker that loves sharing
                            knowledge.
                        </p>
                        <p>Currently DevRel @OVHcloud as day job.</p>
                        <p>
                            Also founder of Mixteen for the kids and Community
                            Hero @gitpod 🦸
                        </p>
                        <p>
                            Curiosity and passion leads to micro:bit Champion 🥰
                        </p>
                        <p>You can find me:</p>
                        <ul>
                            <li>Mastodon : TitiMoby@mamot.fr</li>
                            <li>
                                Bluesky :
                                https://bsky.app/profile/titimoby.bsky.social
                            </li>
                            <li>Twitter: @titimoby</li>
                            <li>Blog : https://tontoncodeur.fr/</li>
                            <li>Twitch : https://www.twitch.tv/titimoby</li>
                            <li>
                                Youtube :
                                https://www.youtube.com/thierrychantier
                            </li>
                            <li>
                                GdG Lyon Cloud @ IoT :
                                https://gdg.community.dev/gdg-cloud-and-iot-lyon
                            </li>
                        </ul>
                    </blockquote>
                </div>
                <aside>
                    <img
                        src="https://on.notist.cloud/profile/pr-titimoby-large-1ca6671f81d107d7.jpg"
                        alt="photo de gouz"
                        width="256"
                        height="256"
                    />
                    <a href="https://gouz.dev">https://gouz.dev</a>
                    <nav>
                        <ul>
                            <li>
                                <a href=""#">Quand le Terminal dévore la UI : TUI pour tout le monde !</a>
                            </li>
                        </ul>
                    </nav>
                </aside>
            </article>

            <section>
                <h2>Talks</h2>

                <article>
                    <header>
                        <h3>
                            Quand le Terminal dévore la UI : TUI pour tout le
                            monde !
                        </h3>
                    </header>
                    <blockquote>
                        <p>
                            Lassé·es des interfaces graphiques gourmandes en
                            ressources et complexes à utiliser ? Vous n’avez pas
                            de temps à perdre entre votre terminal et un
                            navigateur web ? Découvrez le pouvoir de l’interface
                            utilisateur textuelle (Textual User Interface) !
                        </p>
                        <p>
                            Nous explorerons l’univers des TUI et leur potentiel
                            pour enrichir les applications en ligne de commande.
                            En partant d’une CLI simple, je vous montrerai
                            comment intégrer des éléments de TUI pour créer une
                            expérience utilisateur plus intuitive et
                            interactive.
                        </p>
                        <p>
                            Je vous proposerai un aperçu de quelques frameworks
                            TUI populaires tels que Textual, BubbleTea et
                            Ratatui, respectivement pour les langages Python,
                            Golang et Rust. Que vous ayez une grande maîtrise du
                            développement ou que vous soyez novice, ce talk vous
                            montrera comment ces frameworks pourront vous aider
                            à créer des interfaces utilisateur textuelles de
                            nouvelle génération.
                        </p>
                        <p>Vous repartirez donc :</p>
                        <p>en sachant ce que les TUI peuvent vous apporter</p>
                        <p>
                            avec un tour d'horizon de solutions pour en
                            développer vous même
                        </p>
                        <p>avec des exemples concrets de code</p>
                        <p>
                            Et n’oubliez pas : ne quittez plus le confort de
                            votre terminal quand les TUI sont là pour vous !
                        </p>
                    </blockquote>
                    <footer>
                        <a href="https://gouz.dev">See presentation</a>
                    </footer>
                </article>
            </section>
        </main>
        <footer>
            <nav class="container">
                <ul>
                    <li>slidesk.link</li>
                </ul>
                <ul>
                    <li><a href="/mentions">Legal</a></li>
                </ul>
            </nav>
        </footer>
    </body>
</html>
